.greenbar{
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 13px;
    height: 70px;
    width: 100%;
}
.greenbar .container{
    display: flex;
    align-items: center;
    justify-content: center; 
    /* width: 100%;    */
    height: 100%;
    flex-direction: column;
    gap: 10px;
}
.location-language{
    display: flex;
    gap: 10px;
}
.navigation-section-whitebar{
    background-color: var(--white-color);
    height: 80px;    
    /* border-bottom: 1px solid red; */
}
.navigation-section-whitebar .hide-mobile{
    display: none;
}
.navigation-section-whitebar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.logo{
    width: 100px;
    height: auto;
}
.logo img{
    width: 100%;
    height: 100%;
}
.navigation-section-searchbar-holder{
    border: #e4e4e4 1px solid;
    border-radius: 100px;
    max-width: 400px;
    height: 40px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}
.navigation-section-searchbar-holder input{
    border: none;
    outline: none;
}
.navigation-section-searchbar-holder input::placeholder{
    color: #c5c5c5;
}
.navigation-section-searchbar-holder i{
    color: #c5c5c5;
}


@media screen and (min-width:750px) {
    .greenbar{
        height: 40px;
    }
    .greenbar .container{
        flex-direction: row;   
        /* background-color: red; */
        justify-content: space-between;     
    }
    .greenbar-left, .greenbar-right{
        display: flex;
        /* background-color: blue; */
        flex: 1;
        justify-content: space-between;
    }
    .greenbar-left{
        justify-content: space-between;
    }

    .slash{
        height: 15px;
        width: 2px;
        background-color: var(--white-color);
    }
}

@media screen and (min-width:1200px) {
    .navigation-section-whitebar .hide-mobile{
        display: block;
    }
    .categories-btn{
        border: none;
        background-color: transparent;
        outline: none;
        display: flex;
        gap: 7px;
        align-items: center;
        justify-content: center;
    }
    .navigation-whitebar-categories{
        display: flex !important;
        gap: 10px;
    }
    .navigation-section-account-cart{
        display: flex !important;
        gap: 15px;
    }
    .navigation-section-account-cart span{
        display: flex;
        gap: 7px;
    }
    .logo{
        width: 150px;
        height: auto;
    }
    .red-parent{
        position: relative;
    }
    .red{
        position: absolute;
        background-color: red;
        color: var(--white-color);
        font-size: 12px;
        left: -10px;
        top: -12px;
        border-radius: 50%;
        padding: 0 3px;        
    }
}